body {
  background-color: #1E1F20  ;
}

h2 {
  margin-top: 7%;
  margin-left: 19%;
  font-family:'Playfair Display', serif;
  font-weight: 900;
  font-size: 65px;
}

.aboutus {
  margin-top: 8%;
}

.center {
  display: flex;
  text-align: justify;
  color:white
}

.images {
  position: relative;
  top: 0;
  left: 0;
  
}

.imagebackground {
  position: relative;
  top: -10%;
  left: -10%;
  /* width: 360px; */
  width:330px;
  height:414px;

}

.imageontop{
  position: absolute;
  top: 25%;
  left: 60%;
  /* width: 360px; */
  width:330px;
  height:414px;


}

.texte {
  padding-top: 0px;
  margin-top: -0%;
  margin-left: 30%;
}


.paragraphe {
  padding-top: 7%;
  color: white;
  /*font-family: 'Playfair Display', serif ; */
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}


  

 