
.jour {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    transition-duration: 0.5s;
}

.jour:hover {
    padding: 5px;
}

.jour>div {
    display: flex;
    justify-content: space-between;
    transition-duration: 0.3s;
    padding: 5px;
    font-weight: bold;
}

.jour>div:hover {
    background-color: rgb(254, 255, 236);
    color: rgb(101, 196, 101);
    padding: 10px;
}
.flexMENTION{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    border-top: orange solid 1px;
    border-bottom: orange solid 1px;
    margin-bottom: 100px;
}
.column {
    display: flex;
    flex-direction: column;
}
.columnMention{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.footerContact{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.stay{
    margin-top: 50px;
    padding-top: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;  
    border-top: orange solid 1px;

}

nav {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

#fat {
    margin-top: 50px;
    font-size: xx-large;
    padding-bottom: 50px;
}